<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New Flower</title>
</head>
<body>
    <h1>New Flower</h1>
    <div>
        <form action="/flowers" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" /><br>
            <br>
            <label for="description">Desc</label>
            <input type="text" name="description" id="description" /><br>
            <br>
            <label for="img">Image</label>
            <input type="text" name="img" id="img" /><br>
            <br>
            <label for="price">Price</label>
            <input type="number" name="price" id="price" /><br>
            <br>
            <label for="qty">Qty</label>
            <input type="number" name="qty" id="qty" /><br>
            <br>
            <input type="submit" value="Create New Flower" />
        </form>
    </div>
    <nav><a href="/flowers">BACK</a></nav>
</body>
</html>